body{
    color: #FFF;
    background: skyblue;
}
h1{
	font-size: 2em; 
	font-weight: bold;
}
title{
    color: silver;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
.active{
	background: white;
    border-radius: 5px;
    text-transform: uppercase;
	text-align: center;
}
a:visited{color:#020308}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }

li {
    color: #FFF;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;  
  }
  li:hover {
    color: #6fd5fa;
  }
  footer {
    background-color: #bfeafa;
    text-align: center;
    height: 100px;
  }

  .image{
      background-position: center;
  }