body{
    color: #FFF;
    background: skyblue;
    text-align: center;
}
nav{
    background: #508cfc;
}
.img{
    display: block;
    margin: auto;
    width: 50%;
  }
h1{
	font-size: 2em; 
	font-weight: bold;
    text-align: center;
}
title{
    color: silver;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}


ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }

li {
    color: #FFF;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
    width: 80px;  
  }

  li:hover {
    color: #6fd5fa;
  }
  .active{
    background: white;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}
a:visited{
    color: #000
}
  footer {
    color: #fff;
    background-color: #3ccbff;
    text-align: center;
    height: 100px;
  }
  footer p{
      padding: 20px;
  }

 